@font-face {
  font-family: openSans;
  src: url("../scss/fonts/Open_Sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: dosis;
  src: url("../scss/fonts/Dosis/Dosis-Regular.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, a, ul {
  width: 100%;
  height: 100%;
  text-decoration: none;
  list-style-type: none; }

.header {
  display: grid;
  height: 700px;
  overflow: hidden; }
  .header .figur {
    max-width: 100%;
    height: 100%;
    background: url("../scss/Musician_Desktop.jpg") no-repeat;
    background-size: 100%; }
  @media only screen and (max-width: 800px) {
    .header .figur {
      background: url("../scss/Musician_IPhone6.jpg") no-repeat;
      background-size: 100%; } }
  .header .nav-desktop {
    background: rgba(229, 230, 230, 0.5);
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 15px; }
  @media only screen and (max-width: 800px) {
    .header .nav-desktop {
      display: none; } }
  .header .nav-desktop-link {
    color: #606060;
    font-family: dosis;
    font-size: 17px;
    padding-right: 45px;
    letter-spacing: 3px; }
  .header .nav-desktop-link:hover {
    text-decoration: underline; }
  .header .dropdown {
    float: right;
    position: relative;
    padding: 20px 35px; }
    .header .dropdown .dropbtn {
      width: 30px;
      height: 30px;
      cursor: pointer; }
    @media only screen and (min-width: 1000px) {
      .header .dropdown .dropbtn {
        display: none; } }
    .header .dropdown .dropdown-content {
      display: none;
      position: absolute;
      min-width: 140px;
      overflow: auto;
      right: 0;
      z-index: 1; }
    .header .dropdown .dropdown-content a {
      color: #606060;
      padding-top: 20px;
      font-family: dosis;
      font-size: 17px;
      text-decoration: none;
      display: block;
      letter-spacing: 3px; }
    .header .dropdown .show {
      display: block; }

.discography {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: minmax(100px, auto); }
  .discography .discography-title-box {
    grid-column: 1/4; }
    .discography .discography-title-box .discography-title-h {
      font-size: 3.1rem;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      font-family: dosis;
      text-align: center;
      color: #996c4f; }
    .discography .discography-title-box .discography-title-p {
      font-family: openSans;
      color: #798285;
      text-align: center;
      padding-top: 55px;
      line-height: 25px; }
  .discography .hell-box {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: minmax(100px, auto);
    margin-top: 10%; }
    .discography .hell-box .hell-box-number {
      grid-column: 1/2;
      justify-self: center;
      margin-top: 5%; }
      @media only screen and (max-width: 800px) {
        .discography .hell-box .hell-box-number {
          grid-column: 1/4; } }
      .discography .hell-box .hell-box-number .hell-number {
        font-size: 0.8rem;
        font-family: openSans;
        font-weight: normal;
        color: #798285; }
      .discography .hell-box .hell-box-number .hell-number-text {
        font-size: 0.8rem;
        font-family: openSans;
        font-weight: bold;
        color: #000; }
    .discography .hell-box .hell-box-text {
      grid-column: 2/4; }
      @media only screen and (max-width: 800px) {
        .discography .hell-box .hell-box-text {
          grid-column: 1/4; } }
      .discography .hell-box .hell-box-text .hell-text-h {
        font-size: 1.4rem;
        font-family: openSans;
        color: #000; }
        @media only screen and (max-width: 800px) {
          .discography .hell-box .hell-box-text .hell-text-h {
            padding-left: 10px; } }
      .discography .hell-box .hell-box-text .hell-text-p {
        font-size: 0.8rem;
        font-family: openSans;
        color: #798285;
        padding: 20px 0; }
        @media only screen and (max-width: 800px) {
          .discography .hell-box .hell-box-text .hell-text-p {
            padding: 20px; } }
      .discography .hell-box .hell-box-text .button-one {
        width: 200px;
        height: 55px;
        background: url(../scss/button-one.png) no-repeat;
        background-size: 100%;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer; }
        @media only screen and (max-width: 800px) {
          .discography .hell-box .hell-box-text .button-one {
            margin-left: 25%; } }
      .discography .hell-box .hell-box-text .button-two {
        width: 200px;
        height: 55px;
        background: url(../scss/button-two.png) no-repeat;
        background-size: 100%;
        color: #000;
        border: none;
        outline: none;
        cursor: pointer; }
        @media only screen and (max-width: 800px) {
          .discography .hell-box .hell-box-text .button-two {
            margin-left: 25%; } }
      .discography .hell-box .hell-box-text .button-thre {
        width: 200px;
        height: 55px;
        background: url(../scss/button-thre.png) no-repeat;
        background-size: 100%;
        color: #000;
        border: none;
        outline: none;
        cursor: pointer; }
        @media only screen and (max-width: 800px) {
          .discography .hell-box .hell-box-text .button-thre {
            margin-left: 25%; } }
  .discography .discography-img {
    grid-column: 1/4;
    height: 500px;
    background: url(../scss/discography.jpg) no-repeat;
    background-size: 100%; }
  .discography hr {
    width: 31.2rem; }
    @media only screen and (max-width: 800px) {
      .discography hr {
        width: 20rem; } }

/*# sourceMappingURL=style.css.map */
