//h1
$h1FontSize: 3.1rem; //50px
$textTransform: uppercase;
$h1Spacing: .6rem; //10px

//h2
$h2FontSize: 1.4rem; //23px

//p
$pFontSize: .8rem; //14px

//font-face
@font-face {
    font-family: openSans;
    src: url('../scss/fonts/Open_Sans/OpenSans-Regular.ttf');  
}

@font-face {
    font-family: dosis;
    src: url('../scss/fonts/Dosis/Dosis-Regular.ttf');
}

//mixin
@mixin h1-text ($h1FontSize, $textTransform, $h1Spacing) {
    font-size: $h1FontSize;
    text-transform: $textTransform;
    letter-spacing: $h1Spacing;
    font-family: dosis;
}

@mixin h2-text ($h2FontSize) {
    font-size: $h2FontSize; //23px
    font-family: openSans;
    font-weight: normal;
}

@mixin p-text ($pFontSize) {
    font-size: $pFontSize; //14px
    font-family: openSans;
    font-weight: normal;
    color: #798285;
}

@mixin number ($pFontSize) {
    font-size: $pFontSize; //14px
    font-family: openSans;
    font-weight: bold;
    color: #798285;
}

@mixin number-text($pFontSize) {
    font-size: $pFontSize; //14px
    font-family: openSans;
    font-weight: bold;
    color: #000;
}

//document
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, a, ul {
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
}

//header
.header {
    display: grid;
    height: 700px;
    overflow: hidden;

    .figur {
        max-width: 100%;
        height: 100%;
        background: url('../scss/Musician_Desktop.jpg') no-repeat;
        background-size: 100%;
    }
    @media only screen and (max-width: 800px) {
        .figur {
            background: url('../scss/Musician_IPhone6.jpg') no-repeat;
            background-size: 100%;
        }
    }

    .nav-desktop {
        background: rgba(229, 230, 230, .5);
        width: 100%;
        height: 60px;
        text-align: center;
        padding-top: 15px;
    }
    @media only screen and(max-width: 800px){
        .nav-desktop {
            display: none;
        }
    }

    .nav-desktop-link {
        color: #606060;
        font-family: dosis;
        font-size: 17px;
        padding-right: 45px;
        letter-spacing: 3px;
    }
    .nav-desktop-link:hover{
        text-decoration: underline;
    }

    .dropdown {
        float: right;
        position: relative;
        padding: 20px 35px;

        .dropbtn {
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
        @media only screen and(min-width: 1000px) {
            .dropbtn {
                display: none;
            }
        } 
    
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 140px;
            overflow: auto;
            right: 0;
            z-index: 1;  
        }
      
        .dropdown-content a {
            color: #606060;
            padding-top: 20px;
            font-family: dosis;
            font-size: 17px;
            text-decoration: none;
            display: block;
            letter-spacing: 3px;
        }
        
        .show {
            display: block;
        }
    }
}

//discography
.discography {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: minmax(100px, auto);

    .discography-title-box {
        grid-column: 1/4;
        text-align: center;

       .discography-title-h {
            @include h1-text ($h1FontSize, $textTransform, $h1Spacing);
                color: #996c4f;
            
            @media only screen and(max-width: 800px) {
                letter-spacing: .4rem;
            } 
        }
       
       
       .discography-title-p {
           @include p-text ($pFontSize);
           padding-top: 3.1rem;
       }
    }

    .hell-box {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: minmax(100px, auto);
        margin-top: 10%;

        .hell-box-number {
            grid-column: 1/2;
            justify-self: center;
            margin-top: 5%;

            @media only screen and(max-width: 800px) {
                grid-column: 1/4;
            }

            .hell-number {
                @include number ($pFontSize);
            }

            .hell-number-text {
                @include number-text ($pFontSize);
            }
        }

        .hell-box-text {
            grid-column: 2/4;

            @media only screen and(max-width: 800px) {
                grid-column: 1/4;
            }

            .hell-text-h {
                @include h2-text ($h2FontSize);
                    color: #000;

                @media only screen and(max-width: 800px) {
                    padding-left: 10px;
                }    
            }

            .hell-text-p {
                @include p-text($pFontSize);
                    padding: 20px 0;

                @media only screen and(max-width: 800px) {
                    padding: 20px;
                } 
            }

            .button-one {
                width: 11rem;
                height: 55px;
                background: url(../scss/button-one.png) no-repeat;
                background-size: 100%;
                color: #fff;
                border: none;
                outline: none;
                cursor: pointer;

                @media only screen and(max-width: 800px) {
                    margin-left: 25%;
                }
            }
            .button-two {
                width: 11rem;
                height: 55px;
                background: url(../scss/button-two.png) no-repeat;
                background-size: 100%;
                color: #000;
                border: none;
                outline: none;
                cursor: pointer;

                @media only screen and(max-width: 800px) {
                    margin-left: 25%;
                }
            }
            .button-thre {
                width: 11rem;
                height: 55px;
                background: url(../scss/button-thre.png) no-repeat;
                background-size: 100%;
                color: #000;
                border: none;
                outline: none;
                cursor: pointer;

                @media only screen and(max-width: 800px) {
                    margin-left: 25%;
                }
            }
        }
    }

    .discography-img {
        grid-column: 1/4;
        height: 35rem;
        background: url(../scss/discography.jpg) no-repeat;
        background-size: 100%;
        
        @media only screen and(max-width: 800px){
            height: 11rem;
        }
    }

    hr {
        width: 31.2rem;

        @media only screen and(max-width: 800px) {
            width: 20rem;
        }
    }
}

//concert-tour
.concert {
    
    .concert-text {
        text-align: center;

        .concert-text-h1 {
            @include h1-text($h1FontSize, $textTransform, $h1Spacing);
            color: #75adb0;

            @media only screen and(max-width: 800px) {
                font-size: 2.5rem;
                letter-spacing: .4rem;
            }
        }
            
        .concert-text-p {
            @include p-text ($pFontSize);
            padding-top: 3.1rem;
        }
    }

    .concert-img {
        max-width: 100%;
        height: 700px;//delet
        background: url(../scss/concert.jpg) no-repeat;
        background-size: 100%;
        padding: 14.4rem 0 0 14.4rem;

        @media only screen and(max-width: 800px){
            background: url(../scss/concert_IPhone6.jpg) no-repeat;
            background-size: 100%;
            padding: 9.1rem 0 0 .6rem;
            height: 500px;
        }

        .concert-img-number {
            @include number ($pFontSize); 
        }

        hr {
            max-width: 18.5rem;

            @media only screen and(max-width: 800px) {
                width: 11.5rem;
            }
        }

        .concert-img-number-text {
            @include number-text($pFontSize);
        }

        .concert-img-h2 {
            @include h2-text ($h2FontSize);
                padding-top: 3rem;

            @media only screen and(max-width: 800px) {
                padding-top: 1.9rem;
            }
        }

        .concert-img-p {
            @include p-text($pFontSize);
                font-size: .6rem;
                padding: 1rem 0 2rem;

            @media only screen and(max-width: 800px) {
                font-size: .5rem;
                padding: .63rem 9.3rem 3.9rem 0;
            }
        }

        .concert-button {
            font-family: openSans;
            font-size: $pFontSize;
            font-weight: bold;
            color: #000;
            border: 1px solid #aaaeae;
            padding: .8rem 3.1rem;
            
            @media only screen and(max-width: 800px) {
                padding: .5rem 1.5rem;
            }
        }
    }
}

.letter {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: minmax(6.3rem, auto);

    .letter-text {
        grid-column: 1/4;
        text-align: center;

        .letter-text-h1 {
            @include h1-text($h1FontSize, $textTransform, $h1Spacing);
            color: #000;

            @media only screen and(max-width: 800px) {
                font-size: 1.8rem;
                letter-spacing: .2rem;
                padding-top: 3rem;
            }
        }
        .letter-text-p {
            @include p-text ($pFontSize);
            padding-top: 3.1rem;
        }
    }

    .sam-feldt {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        grid-auto-rows: minmax(6.3rem, auto);
        padding-top: 6rem;

        @media only screen and(max-width: 800px) {
            display: initial;
            padding-top: 3rem;
            margin: 0 1.2rem;
        }

        .sam-feldt-text {
            grid-column: 2/3;
            background-color: #f5f6f6;
            padding: 1.9rem 3.7rem 1.9rem 1.9rem;
            position: relative;

            @media only screen and(max-width: 800px) {
                padding: 1.9rem 1rem;
            }

            .sam-feldt-number {
                @include number($pFontSize);
            }

            .sam-feldt-number-text {
                @include number-text($pFontSize);
            }

            .sam-feldt-text-h2 {
                @include h2-text ($h2FontSize);
                padding-top: 3rem;

                @media only screen and(max-width: 800px) {
                    font-size: 1rem;
                }
            }

            .sam-feldt-text-p {
                @include p-text($pFontSize);
                padding: 1.9rem 0 3.7rem;

                @media only screen and(max-width: 800px) {
                    font-size: .6rem;
                }
            }

            .sam-feldt-bottom {
                font-family: openSans;
                font-size: $pFontSize;
                font-weight: bold;
                color: #000;
                border: 1px solid #aaaeae;
                padding: .8rem 2.6rem;

                @media only screen and(max-width: 800px) {
                    padding: .5rem .8rem;
                }
            }

            .sam-feldt-social-box {
                float: right;

                .sam-feldt-social-link {
                    cursor: pointer;
                }

                .sam-feldt-social-link-p {
                    display: inline-block;
                    color: #abacac;
                    padding-right: 1.9rem;

                    @media only screen and(max-width: 800px) {
                        padding-right: .6rem;
                    }
                }
            }

            .square {
                width: 20px;
                height: 20px;
                position: absolute;
                background-color: #f5f6f6;
                top: 11.6rem;
                right: -.5rem;
                transform: rotate(45deg);

                @media only screen and(max-width: 800px) {
                    display: none;
                }
            }
        }

        .sam-feldt-video {
            grid-column: 3/4;
        }

        .sam-feldt-text-right {
            grid-column: 3/4; 
            background-color: #f5f6f6;
            padding: 1.9rem 3.7rem 1.9rem 1.9rem;
            position: relative;
            order: 2;

            @media only screen and(max-width: 800px) {
                order: initial;
                padding: 1.9rem 1rem;
            }

            .sam-feldt-number {
                @include number($pFontSize);
            }

            .sam-feldt-number-text {
                @include number-text($pFontSize);
            }

            .sam-feldt-text-h2 {
                @include h2-text ($h2FontSize);
                padding-top: 3rem;

                @media only screen and(max-width: 800px) {
                    font-size: 1rem;
                }
            }

            .sam-feldt-text-p {
                @include p-text($pFontSize);
                padding: 1.9rem 0 3.7rem;

                @media only screen and(max-width: 800px) {
                    font-size: .6rem;
                }
            }

            .sam-feldt-bottom {
                font-family: openSans;
                font-size: $pFontSize;
                font-weight: bold;
                color: #000;
                border: 1px solid #aaaeae;
                padding: .8rem 2.6rem;

                @media only screen and(max-width: 800px) {
                    padding: .5rem .8rem;
                }
            }

            .sam-feldt-social-box {
                float: right;

                .sam-feldt-social-link {
                    cursor: pointer;
                }

                .sam-feldt-social-link-p {
                    display: inline-block;
                    color: #abacac;
                    padding-right: 1.9rem;

                    @media only screen and(max-width: 800px) {
                        padding-right: .6rem;
                    }
                }
            }

            .square-right {
                width: 20px;
                height: 20px;
                position: absolute;
                background-color: #f5f6f6;
                bottom: 160px;
                left: -7px;
                transform: rotate(45deg);

                @media only screen and(max-width: 800px) {
                    display: none;
                }
            }
        }

        .sam-feldt-video-left {
            grid-column: 2/3;

            @media only screen and(max-width: 800px) {
                order: 1;    
            }
        }
    }
    
    hr { 
        width: 18.7rem;

        @media only screen and(max-width: 800px) {
            width: 15rem;
        }
    }
    video[poster]{object-fit:cover;}
}